<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FoodsManagement.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0187C7C91DFBE58B00361A77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0187C7DD1DFBE58C00361A77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0187C7E81DFBE58C00361A77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
